# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/

# Environments
env
/*venv/
.python-version

# Rope project settings
.ropeproject

# dotenv
.env*
!.env.template

# ide
/.idea/

# mypy
.mypy_cache/

#FME
*.log
*.fmw.recover
wb-xlate*

# jkr
/data
muistiot/
pjh-virheelliset-osoitteet.csv
*.qgs~
jkrconfig
pg_service.conf
