POSTGRES_PASSWORD=postgres

JKR_DB_HOST=localhost
JKR_DB_PORT=5436

JKR_DB=jkr_test
JKR_USER=jkr_admin
JKR_PASSWORD=qwerty

JKR_TEST_DB=jkr_test
JKR_TEST_DB_PORT=5436
JKR_TEST_PASSWORD=qwerty

QGIS_BIN_PATH=C:\\Program Files\\QGIS 3.28.11\\bin
